.header-slider {
  margin-bottom: 120px;
}
.header-slider .slider {
  display: grid;
  height: 970px;
  grid-template-columns: repeat(90, 1fr);
  grid-template-rows: repeat(97, 1fr);
}
.header-slider .slider .slider__img {
  overflow: hidden;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.header-slider .slider .slider__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.header-slider .slider .slider__button {
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 19/37;
  grid-row: -16/-1;
}
.header-slider .slider .slider__button #line {
  height: 30%;
}
.header-slider .slider .slider__button #next,
.header-slider .slider .slider__button #prev {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: unset;
}
.header-slider .slider .slider__button #next:hover,
.header-slider .slider .slider__button #prev:hover {
  color: #fcd54c;
  cursor: pointer;
}
.header-slider .slider .select {
  z-index: 100;
  grid-column: 37/91;
  grid-row: -16/-1;
  display: flex;
}
.header-slider .slider .select .select__item:hover {
  cursor: pointer;
  border-right: solid 1px #fcd54c;
  border-bottom: solid 1px #fcd54c;
}
.header-slider .slider .select .select__item.active h2 {
  color: #fcd54c;
}
.header-slider .slider .select .select__item {
  background: #272727;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  border-radius: 5px;
}
.header-slider .slider .select .select__item img {
  display: none;
}
.header-slider .slider .select h2 {
  font-family: "gilroy-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 24px;
  display: inline-block;
}
.header-slider .slider .select p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
}
.header-slider .slider .slider__greeting {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: solid 5px #fcd54c;
  grid-column: 18/-4;
  grid-row: 28/66;
}
.header-slider .slider .slider__greeting::before,
.header-slider .slider .slider__greeting::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 125px;
  height: 0;
  border-bottom: solid 5px #fcd54c;
  border-left: solid 5px #fcd54c;
}
.header-slider .slider .slider__greeting::before {
  top: 0;
}
.header-slider .slider .slider__greeting::after {
  bottom: 0;
}
.header-slider .greeting .greeting__pre {
  margin-left: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.header-slider .greeting .greeting__welcome {
  margin-left: 28px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  text-transform: capitalize;
}
.header-slider .greeting .greeting__link {
  margin-left: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #ffffff;
}
.header-slider .social {
  z-index: 100;
  grid-column: -3/-2;
  grid-row: 4/20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accent {
  color: #fcd54c;
}

@media (max-width: 1800px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 1110px) {
  .header-slider .slider {
    height: 800px;
  }
  .header-slider .slider .slider__button {
    grid-column: 1/24;
  }
  .header-slider .slider .select {
    grid-column: 24/91;
  }
  .header-slider .slider .select h2 {
    font-size: 50px;
    line-height: 60px;
  }
  .header-slider .greeting .greeting__welcome {
    font-size: 72px;
    line-height: 79px;
  }
}
@media (max-width: 900px) {
  .header-slider .slider .slider__button #prev {
    font-size: 10px;
    line-height: 24px;
  }
  .header-slider .slider .slider__button #next {
    font-size: 10px;
    line-height: 24px;
  }
  .header-slider .slider .select h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .header-slider .slider {
    height: 372px;
  }
  .header-slider .slider .select p {
    font-size: 12px;
    line-height: 14px;
  }
  .header-slider .slider .slider__greeting {
    grid-column: 6/-4;
    grid-row: 11/75;
  }
  .header-slider .greeting .greeting__welcome {
    font-size: 60px;
    line-height: 65px;
  }
  .header-slider .social {
    grid-row: 6/45;
  }
}
@media (max-width: 768px) {
  .header-slider {
    margin-bottom: 98px;
  }
  .header-slider .greeting .greeting__welcome {
    font-size: 50px;
    line-height: 64px;
  }
  .header-slider .greeting .greeting__link {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 650px) {
  .header-slider .slider {
    height: 322px;
  }
  .header-slider .slider .select {
    grid-column: 1/91;
    grid-row: unset;
  }
  .header-slider .slider .select .select__item {
    flex-direction: column;
    align-items: self-start;
    padding-left: 10px;
  }
  .header-slider .slider .slider__greeting {
    grid-row: 6/75;
  }
  .header-slider .social {
    grid-row: 6/60;
  }
  .header-slider .greeting .greeting__pre {
    font-size: 10px;
    line-height: 12px;
  }
  .header-slider .slider .slider__button {
    grid-column: 1/42;
  }
  .header-slider .slider .select p {
    font-size: 10px;
    line-height: 12px;
  }
  .header-slider .greeting .greeting__welcome {
    font-size: 30px;
    line-height: 38px;
  }
  .header-slider .greeting .greeting__link {
    font-size: 12px;
    line-height: 14px;
  }
  .header-slider .slider .slider__greeting {
    grid-column: 6/-2;
  }
  .header-slider .social {
    display: none;
  }
}