/* section latest-projects */
.latest-projects {
  width: 100%;
  height: 812px;
}

.latest-projects > * {
  display: flex;
  margin-bottom: 77px !important;
  justify-content: space-between;
  align-items: center;
}

.header-in__title {
  font-family: "Gilroy-bold";
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
}

.header-in__sort {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.sort__item {
  margin-left: 30px;
}

.sort__item.active {
  color: #FCD54C;
}

.sort__link {
  margin-left: 45px;
  font-family: "Gilroy-bold";
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #929292;
}

[class*=slider__slide] {
  width: 430px;
  height: 572px;
  display: flex;
  align-items: flex-end;
}

.slider__slide-1 {
  background-image: url(../images/dubai.jpg);
  background-size: cover;
}

.slider__slide-2 {
  background-image: url(../images/houses.jpg);
  background-size: cover;
}

.slider__slide-3 {
  background-image: url(../images/villas.jpg);
  background-size: cover;
}

.slide {
  transition: 1s;
  cursor: pointer;
}

.slide.active {
  width: 438px;
  height: 580px;
  margin: -4px 0;
}

.slider__slide-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FCD54C;
}

.slider__slide-info > * {
  margin: 46px;
  color: #272727;
}

.slide__title {
  margin: 46px;
  font-family: "Gilroy-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
}

.slide__info {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.slide__link {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.latest-projects__dots {
  justify-content: center;
}

.dots__dot {
  width: 13px;
  height: 13px;
  border-radius: 7px;
  background-color: #929292;
}

.dots__dot {
  margin: 0 9px;
}

.dots__dot.active {
  background-color: #FCD54C;
}

/* end */