@import url(reset.css);
@import url(expertise_section.css);
@import url(header-slider.css);
@import url(articles.css);
@import url(contact_us.css);
@import url(useful_articles.css);
@import url(latest-projects.css);
@import url(faq.css);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,500italic,700,700italic&isplay=swap);
@import url(https://fonts.googleapis.com/css?family=Lexend:300&display=swap);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:700&display=swap);
@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Work Sans";
  font-style: normal;
  color: #ffffff;
  background: #272727;
}

/* ========================================= */
.container {
  max-width: 1800px;
  margin: 0 auto;
}

[class*=__container] {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
/* ======================= */
.header {
  height: 6em;
}

.header__nav {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.6fr;
  margin: 0 0.5em;
  height: 6em;
}

.header__logo {
  width: 11em;
  height: 6em;
  padding: 20px 0;
}

.logo__rect {
  box-sizing: border-box;
  width: 40px;
  height: 3.5em;
  border: 2px solid #fcd54c;
  border-right-style: none;
}

.logo__text1 {
  width: 169px;
  height: 32px;
  padding-top: 1px;
  padding-left: 5px;
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}

.logo__text2 {
  width: 113px;
  height: 12px;
  padding-left: 5px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.header__menu {
  height: 6.8em;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.link {
  display: grid;
  grid-template-columns: 0.4fr 0.2fr;
  grid-template-rows: 0.1fr 0.5fr;
  height: 2.8;
}

.menu__item {
  list-style-type: none;
  cursor: pointer;
  padding-top: 2.5em;
  height: 3.6em;
}

.link__item {
  margin-right: 0;
}

.menu__item:hover {
  color: #fcd54c;
}

.link__submenu {
  position: relative;
  box-sizing: border-box;
  width: 247px;
  height: 110px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: #272727;
  border: 1px solid #979797;
  transition: 2s;
}

.closed {
  opacity: 0;
}

.submenu {
  width: 245px;
}

.item__1 {
  top: 0;
  background: #272727;
  cursor: pointer;
}

.item__1:hover {
  background: #fcd54c;
  color: #272727;
}

.item__2 {
  top: 36px;
  background: #272727;
  cursor: pointer;
}

.item__2:hover {
  background: #fcd54c;
  color: #272727;
}

.item__3 {
  top: 72px;
  background: #272727;
  cursor: pointer;
}

.item__3:hover {
  background: #fcd54c;
  color: #272727;
}

.item__1 a {
  width: 160px;
  height: 17px;
  font-family: "Gilroy-bold";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
}

.item__2 a {
  width: 154px;
  height: 17px;
  font-family: "Gilroy-bold";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
}

.item__3 a {
  width: 200px;
  height: 17px;
  font-family: "Gilroy-bold";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
}

.link__line {
  width: 40px;
  height: 2px;
  background: #ffffff;
  cursor: pointer;
}

.link__triangle {
  margin-top: 35px;
  margin-left: -10px;
  width: 8px;
  height: 8px;
  background: linear-gradient(to top left, #ffffff 50%, #272727 50%);
  transform: rotate(45deg);
}

.header__btn {
  width: 100%;
  height: 6em;
}

.header__btn button {
  max-width: 165px;
  height: 2.5em;
  margin: 2em auto;
  padding: 0 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  background: #fcd54c;
  color: #000000;
  cursor: pointer;
}

.lang__phone {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 1fr;
  grid-template-rows: 1fr;
  text-align: end;
}

.en {
  width: 17px;
  height: 17px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  text-transform: uppercase;
  color: #fcd54c;
  cursor: pointer;
  display: inline-block;
  margin-top: 2.5em;
}

.ua {
  width: 18px;
  height: 17px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  text-transform: uppercase;
  color: #929292;
  cursor: pointer;
  display: inline-block;
  margin-left: 10%;
  margin-top: 2.5em;
}

.header__phone {
  height: 17px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  display: inline-block;
  margin: 2.5em 0;
}

/* section latest-projects */
.latest-projects {
  width: 100%;
  height: 812px;
}

.latest-projects > * {
  display: flex;
  margin-bottom: 77px;
  justify-content: space-between;
  align-items: center;
}

.header-in__title {
  font-family: "Gilroy-bold";
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
}

.header-in__sort {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.sort__item {
  margin-left: 30px;
}

.sort__item.active {
  color: #fcd54c;
}

.sort__link {
  margin-left: 45px;
  font-family: "Gilroy-bold";
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #929292;
}

[class*=slider__slide] {
  width: 430px;
  height: 572px;
  display: flex;
  align-items: flex-end;
}

.slider__slide-1 {
  background-image: url(../images/dubai.jpg);
}

.slider__slide-2 {
  background-image: url(../images/houses.jpg);
}

.slider__slide-3 {
  background-image: url(../images/villas.jpg);
}

.slider__slide-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fcd54c;
}

.slider__slide-info > * {
  margin: 46px;
  color: #272727;
}

.slide__title {
  margin: 46px;
  font-family: "Gilroy-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
}

.slide__info {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.slide__link {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.latest-projects__dots {
  justify-content: center;
}

.dots__dot {
  width: 13px;
  height: 13px;
  border-radius: 7px;
  background-color: #929292;
}

.dots__dot {
  margin: 0 9px;
}

.dots__dot.active {
  background-color: #fcd54c;
}

/* end */