.expertise {
    width: 100%;
    margin-top: 70px;
    // display: inline-block;
    margin-bottom: 120px;

    .expertise__article {
        width: 730px;
        margin-bottom: 90px;
        margin-left: auto;
        margin-right: auto;

        h4 {
            font-weight: 600;
            font-size: 18px;
            line-height: 160%;
            color: #FCD54C;
            margin-bottom: 40px;
        }

        h2 {

            font-family: "gilroy-bold";
            font-weight: 700;
            font-size: 70px;
            line-height: 69px;
            color: #E8E8E8;
            margin-bottom: 33px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: #E8E8E8;
        }
    }

    .expertise__video {
        position: relative;
        padding-top: 56.25%;

        .iframe__video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            // border: none;
        }

        #expertise__playbtn {}
    }

}

@media (max-width: 1800px) {}

@media (max-width: 1110px) {
    [class*='__container'] {
        // max-width: 970px;
    }

}

@media (max-width: 900px) {
    [class*='__container'] {
        // max-width: 750px;
    }


}

@media (max-width: 768px) {

    [class*='__container'] {
        // max-width: none;
    }

    .expertise .expertise__article {
        width: fit-content;
        margin-bottom: 70px;
        padding: 0 25px;
    }

    .expertise .expertise__article h4 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 14px;
    }

    .expertise .expertise__article h2 {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 23px;
    }

    .expertise .expertise__article p {
        font-size: 14px;
        line-height: 22px;
    }

    .expertise .expertise__article {
        margin-bottom: 70px;
    }

    .expertise {
        margin-bottom: 70px;
    }

}

@media (max-width: 650px) {
    .expertise .expertise__article h4 {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    .expertise .expertise__article h2 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .expertise .expertise__article {
        margin-bottom: 40px;
    }

    .expertise .expertise__article {
        padding: 0px 20px;
    }

    .expertise {
        margin-bottom: 40px;
    }
}