.expertise {
    width: 100%;
    margin-top: 70px;
    display: inline-block;
    margin-bottom: 120px;

    .expertise__article {
        width: 730px;
        margin-bottom: 90px;
        margin-left: auto;
        margin-right: auto;

        h4 {
            font-weight: 600;
            font-size: 18px;
            line-height: 160%;
            color: #FCD54C;
            margin-bottom: 40px;
        }

        h2 {

            font-family: "gilroy-bold";
            font-weight: 700;
            font-size: 70px;
            line-height: 69px;
            color: #E8E8E8;
            margin-bottom: 33px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: #E8E8E8;
        }
    }

    .expertise_video {
        // position: relative;
        // overflow: hidden;
        // padding-top: 56.25%;

        .iframe__video {
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            // border: 0;
        }

        #expertise__playbtn {}
    }
}