.faq {
    // margin-top: 60px;
    margin-bottom: 120px;
    height: fit-content;

    h2 {
        font-family: 'gilroy-bold';
        font-weight: 700;
        font-size: 70px;
        margin-bottom: 20px;
    }

    .faq__accordion {
        width: 100%;
        height: fit-content;
        border-bottom: solid 1px #929292;

        h4 {
            border-top: solid 1px #929292;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            background: url(/img/faq/arrow.svg) no-repeat right -26px;
            padding: 20px 0;
        }


        h4.active {
            background-position: right 25px;
        }

        h4:hover {
            cursor: pointer;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: #E8E8E8;
            margin: 13px 65px 40px;
        }
    }
}

@media (max-width: 1800px) {}

@media (max-width: 1110px) {}

@media (max-width: 900px) {
    .faq {
        margin-bottom: 70px;
    }

    .faq h2 {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 40px;
    }

    .faq .faq__accordion h4 {
        font-size: 16px;
        line-height: 21px;
    }

    .faq .faq__accordion p {
        font-size: 12px;
        line-height: 14px;
    }

    .faq .faq__accordion h4 {
        padding: 15px 0;
    }
}

@media (max-width: 768px) {
    .faq .faq__accordion p {
        margin: 13px 15px 15px;
    }
}

@media (max-width: 650px) {
    .faq {
        margin-bottom: 50px;
    }

    .faq h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .faq .faq__accordion h4 {
        font-size: 12px;
        line-height: 16px;
        padding-inline-end: 5px;
    }

    .faq .faq__accordion p {
        font-size: 10px;
        line-height: 12px;
    }
}